/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #d8eff7;
  background-color: #d8eff7; }

.reveal {
  font-family: "SAPFuturaNaBook", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #004c67; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

strong {
  color: #310067;
  font-weight: normal; }

img {
  border: none !important; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #004c67;
  font-family: "SAPFuturaNaDemi", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: bold; }

.reveal h1 {
  font-size: 3.5rem; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #13daec;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #13daec; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #13daec; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #13daec; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #13daec; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #71e9f4; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #71e9f4; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #71e9f4; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #71e9f4; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #13daec;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/****
* FOLIE FÜR FOLIE.
****/
#intro h1 {
  padding-left: 53vh;
  padding-top: 30vh;
  white-space: pre; }

#intro h1 strong::before {
  content: "\A"; }

#intro h1 strong::after {
  content: "\A"; }

#intro .excluder {
  width: 200px;
  height: 200px;
  -webkit-shape-outside: polygon(0 0, 100% 0, 0 100%);
  float: left;
  margin-left: 50vh;
  margin-top: 29vh; }

#intro .company {
  background: #cde9f3;
  display: inline-block;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-right: 100vh;
  /*-webkit-clip-path: polygon(0 0, -webkit-calc(60px + 11%) 0%, 50% 100%, 0% 100%);*/
  -webkit-mask: url("/icon/sap_mask.svg") top left/cover;
  z-index: 2; }

#intro .company img.sap {
  position: absolute;
  bottom: 80px;
  left: 20px; }

#intro .company img.dhbw {
  position: absolute;
  top: 20px;
  left: 20px; }

#intro .contact {
  position: absolute;
  bottom: 80px;
  left: 0;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  padding-left: 191px;
  padding-right: 80px;
  border-top: 1px solid #004c67;
  border-bottom: 1px solid #004c67;
  box-sizing: border-box;
  -webkit-mask: url("/icon/sap_mask.svg") top left/cover; }

#intro .contact::after {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  width: 1px;
  height: 82px;
  margin-top: -12px;
  margin-left: 30px;
  background: #004C67;
  -webkit-transform: rotate(45deg); }

#intro .contact > * {
  display: inline-block;
  padding: 0 25px; }

#intro .contact > *:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 20px;
  margin-top: 20px;
  margin-left: 30px;
  background: #004c67;
  -webkit-transform: rotate(45deg); }

#journey .container, #ushahidi .container, #reportImages .container {
  height: 600px;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  margin-top: -300px;
  background: #cde9f3; }

#journey .container img {
  height: 600px;
  width: auto;
  opacity: 1; }

#journey .container img.active {
  opacity: 1; }

#resultsUshahidi > div, #picnic > div {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-around;
  height: 100%; }

.multipleStarPlots .axis .legend {
  fill: #004c67;
  font-size: 1.5rem !important;
  font-family: "SAPFuturaNaBook", sans-serif !important;
  display: none; }

.multipleStarPlots {
  text-align: center;
  max-width: 350px; }

#mobileSensors #iPhone {
  width: 200px;
  height: 378px;
  -webkit-wrap-flow: both;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -189px;
  margin-left: -100px; }

#mobileSensors #Samsung {
  width: 150px;
  height: 378px;
  -webkit-wrap-flow: both;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -189px;
  margin-left: -75px;
  display: none; }

#explanation ul {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  height: 100%;
  font-size: 6rem;
  margin-left: 0;
  padding: 0 200px;
  list-style: none; }

#explanation li:nth-child(2) {
  color: #310067; }

#explanation li:nth-child(3) {
  color: #670200; }

#explanation li:nth-child(4) {
  color: #196700; }

#explanation ul span {
  font-size: 0.5em; }

#ushahidi img.flag {
  -webkit-mask: url("/icon/image_mask.svg") top left/cover; }

#ushahidi img:not(.flag) {
  margin-left: -130px; }

#reports div {
  position: relative;
  display: inline-block; }

#reports div svg {
  position: absolute;
  top: 0;
  left: 0; }
